/*

              ,--,                                                       ,----,                                
           ,---.'|       ,----..                     ,--.              ,/   .`|       ,--,                     
    ,---,. |   | :      /   /   \    ,----..     ,--/  /|            ,`   .'  :     ,--.'|   ,---,  .--.--.    
  ,'  .'  \:   : |     /   .     :  /   /   \ ,---,': / '          ;    ;     /  ,--,  | :,`--.' | /  /    '.  
,---.' .' ||   ' :    .   /   ;.  \|   :     ::   : '/ /         .'___,/    ,',---.'|  : '|   :  :|  :  /`. /  
|   |  |: |;   ; '   .   ;   /  ` ;.   |  ;. /|   '   ,          |    :     | |   | : _' |:   |  ';  |  |--`   
:   :  :  /'   | |__ ;   |  ; \ ; |.   ; /--` '   |  /           ;    |.';  ; :   : |.'  ||   :  ||  :  ;_     
:   |    ; |   | :.'||   :  | ; | ';   | ;    |   ;  ;           `----'  |  | |   ' '  ; :'   '  ; \  \    `.  
|   :     \'   :    ;.   |  ' ' ' :|   : |    :   '   \              '   :  ; '   |  .'. ||   |  |  `----.   \ 
|   |   . ||   |  ./ '   ;  \; /  |.   | '___ |   |    '             |   |  ' |   | :  | ''   :  ;  __ \  \  | 
'   :  '; |;   : ;    \   \  ',  / '   ; : .'|'   : |.  \            '   :  | '   : |  : ;|   |  ' /  /`--'  / 
|   |  | ; |   ,/      ;   :    /  '   | '/  :|   | '_\.'            ;   |.'  |   | '  ,/ '   :  |'--'.     /  
|   :   /  '---'        \   \ .'   |   :    / '   : |                '---'    ;   : ;--'  ;   |.'   `--'---'   
|   | ,'                 `---`      \   \ .'  ;   |,'                         |   ,/      '---'                
`----'                               `---`    '---'                           '---'                            
                                                                                                               

*/

/* Row Styles */
.row { position:relative; }
.row .row-inner { position:relative;margin:auto; }

/* Core Block Styles */
.block { position:relative;padding:0px;margin:0px;display:block;float:left;overflow:visible }
.block .block-inner { position:relative;margin:10px 0px 10px 0px;min-height:10px; }
.block .block-inner .wrapper { position:relative;padding:20px; }

/* Block Dimensions */
.one-width { width:41px; }
.two-width { width:82px; }
.three-width { width:123px; }
.four-width { width:164px; }
.five-width { width:205px; }
.six-width { width:246px; }
.seven-width { width:287px; }
.eight-width { width:328px; }
.nine-width { width:369px; }
.ten-width { width:410px; }
.eleven-width { width:451px; }
.tweleve-width { width:492px; }
.thirteen-width { width:533px; }
.fourteen-width { width:574px; }
.fifteen-width { width:615px; }
.sixteen-width { width:656px; }
.seventeen-width { width:697px; }
.eighteen-width { width:738px; }
.nineteen-width { width:779px; }
.twenty-width { width:820px; }
.twenty-one-width { width:861px; }
.twenty-two-width { width:902px; }
.twenty-three-width { width:943px; }
.twenty-four-width { width:984px; }

/* Show mobile */
.mobile-only { display:none; }

@media all and (max-width: 700px) {
    .block { float:none;width:100% !important; }
    .block .block-inner { margin:0px 15px 0px 15px; }
    /* Block Width Styles */
    .one-width { width:100% !important; }
    .two-width { width:100% !important; }
    .three-width { width:100% !important; }
    .four-width { width:100% !important; }
    .five-width { width:100% !important; }
    .six-width { width:100% !important; }
    .seven-width { width:100% !important; }
    .eight-width { width:100% !important; }
    .nine-width { width:100% !important; }
    .ten-width { width:100% !important; }
    .eleven-width { width:100% !important; }
    .tweleve-width { width:100% !important; }
    .thirteen-width { width:100% !important; }
    .fourteen-width { width:100% !important; }
    .fifteen-width { width:100% !important; }
    .sixteen-width { width:100% !important; }
    .seventeen-width { width:100% !important; }
    .eighteen-width { width:100% !important; }
    .nineteen-width { width:100% !important; }
    .twenty-width { width:100% !important; }
    .twenty-one-width { width:100% !important; }
    .twenty-two-width { width:100% !important; }
    .twenty-three-width { width:100% !important; }
    .twenty-four-width { width:100% !important; }
    /* Show mobile */
    .mobile-only { display:block; }
    /* Show mobile */
    .desktop-only { display:none !important; }
}

/* Fixes/Hacks */
.clearfix:after { content:".";display:block;height:0;clear:both;visibility:hidden; }
.marginfix { padding:1px; }
.nofloat { float:none !important; }